@import '@acide/ui/app/style/common';
@import '@acide/ui/app/style/animation';

// ============= The Workbench parts =============
@import '@acide/ui/app/components/actionBar/style';
@import '@acide/ui/app/components/breadcrumb/style';
@import '@acide/ui/app/components/button/style';
@import '@acide/ui/app/components/checkbox/style';
@import '@acide/ui/app/components/collapse/style';
@import '@acide/ui/app/components/contextView/style';
@import '@acide/ui/app/components/dialog/style';
@import '@acide/ui/app/components/dropdown/style';
@import '@acide/ui/app/components/input/style';
@import '@acide/ui/app/components/list/style';
@import '@acide/ui/app/components/menu/style';
@import '@acide/ui/app/components/scrollable/style';
@import '@acide/ui/app/components/select/style';
@import '@acide/ui/app/components/tabs/style';
@import '@acide/ui/app/components/toolbar/style';
@import '@acide/ui/app/components/tree/style';
@import '@acide/ui/app/components/search/style';
@import '@acide/ui/app/components/tooltip/style';

// ============= The Workbench core component =============
@import '@acide/ui/app/workbench/style';
@import '@acide/ui/app/workbench/activityBar/style';
@import '@acide/ui/app/workbench/editor/style';
@import '@acide/ui/app/workbench/editor/welcome/style';
@import '@acide/ui/app/workbench/menuBar/style';
@import '@acide/ui/app/workbench/panel/style';
@import '@acide/ui/app/workbench/settings/style';
@import '@acide/ui/app/workbench/sidebar/style';
@import '@acide/ui/app/workbench/statusBar/style';
@import '@acide/ui/app/workbench/notification/style';
@import '@acide/ui/app/workbench/sidebar/explore/style';
@import '@acide/ui/app/workbench/problems/style';

.#{$prefix} {
  bottom: 0;
  box-sizing: border-box;
  font-size: 13px;
  height: 100%;
  left: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  width: 100%;
}

.mac {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}
